<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" name="email" type="email" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="password" name="password" type="password" required>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Login</button>
    <small *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</small><br>
    <small>Don't have an account? <strong routerLink="/register">Register</strong></small>
  </form>
</div>
